body {
  width: 100vw;
  height: 100vh;
}

.histogram {
  width: 460px;
  height: 400px;
  background-color: #fdfdfd;
}

.x-axis {
  color: #ccc;
}
.x-axis text{
  fill: #333;
}
.x-axis .tick line{
  visibility:hidden;
}

.y-axis {
  color: #ccc;
}
.y-axis text{
  fill: #333;
}
.y-axis .tick line{
  visibility:hidden;
}

.grid line {
  color: #ccc;
}
